!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Bienvenidos a Geo Cliengtes
    %link{href: "http://geoclientes.com/images/favicon.ico", rel: "icon"}/
    %link{href: "http://geoclientes.com/images/favicon.ico", rel: "shortcut icon"}/
    %link{href: "http://geoclientes.com/css/style.css", rel: "stylesheet"}/
    %link{href: "http://geoclientes.com/css/camera.css", rel: "stylesheet"}/
    %link{href: "http://geoclientes.com/css/form.css", rel: "stylesheet"}/
    %link{href: "http://geoclientes.com/css/main.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    %script{src: "http://geoclientes.com/js/jquery.js"}
    %script{src: "http://geoclientes.com/js/jquery-migrate-1.1.1.js"}
    %script{src: "http://geoclientes.com/js/superfish.js"}
    %script{src: "http://geoclientes.com/js/forms.js"}
    %script{src: "http://geoclientes.com/js/jquery.ui.totop.js"}
    %script{src: "http://geoclientes.com/js/jquery.equalheights.js"}
    %script{src: "http://geoclientes.com/js/jquery.easing.1.3.js"}
    %script{src: "http://geoclientes.com/js/jquery.ui.totop.js"}
    %script{src: "http://geoclientes.com/js/tms-0.4.1.js"}
    :javascript
      $(document).ready(function(){
        $('.slider_wrapper')._TMS({
            show:0,
            pauseOnHover:false,
            prevBu:'.prev',
            nextBu:'.next',
            playBu:false,
            duration:800,
            preset:'fade',
            pagination:true,//'.pagination',true,'<ul></ul>'
            pagNums:false,
            slideshow:8000,
            numStatus:false,
            banners: 'fade',
            waitBannerAnimation:false,
            progressBar:false
        });
      });
      $(document).ready(function(){
        !function(){
      var map=[]
       ,names=[]
       ,win=$(window)
       ,header=$('header')
       ,currClass
      $('.content').each(function(n){
       map[n]=this.offsetTop
       names[n]=$(this).attr('id')
      })
      win
       .on('scroll',function(){
        var i=0
        while(map[i++]<=win.scrollTop());
        if(currClass!==names[i-2])
        currClass=names[i-2]
        header.removeAttr("class").addClass(names[i-2])
       })
      }(); });
            function goToByScroll(id){
        $('html,body').animate({scrollTop: $("#"+id).offset().top},'slow');
        }
        $(document).ready(function(){
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    /[if lt IE 8]
      <div style=' clear: both; text-align:center; position: relative;'>
      <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
      <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
      </a>
      </div>
    /[if lt IE 9]
      <script src="http://geoclientes.com/js/html5shiv.js"></script>
      <link rel="stylesheet" media="screen" href="http://geoclientes.com/css/ie.css">
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      body {
        background-image: url(http://geoclientes.com/images/fondo.jpg);
        background-repeat: no-repeat;
        background-position: center top;
      }
  %body
    / ==============================header=================================
    %header.page1
      .container_12
        .grid_12
          %h1
            %a{href: "#", onclick: "goToByScroll('page1'); return false;"}
              %img{alt: "Geoclientes", src: "http://geoclientes.com/images/logo.png"}/
          .menu_block
            %nav
              %ul.sf-menu
                %li.current.men
                  %a{href: "#", onclick: "goToByScroll('page1'); return false;"} Inicio
                  %strong.hover
                %li.men1
                  %a{href: "#", onclick: "goToByScroll('page2'); return false;"} Por que geoclientes?
                  %strong.hover
                %li.men2
                  %a{href: "#", onclick: "goToByScroll('page3'); return false;"} Producto
                  %strong.hover
                %li.men3
                  %a{href: "#", onclick: "goToByScroll('page4'); return false;"} Vistas del Sistema
                  %strong.hover
                %li.men4
                  %a{href: "#", onclick: "goToByScroll('page5'); return false;"} Precios
                  %strong.hover
            .clear
        .clear
    #banderas
      %ul.dropdown
        %li.active
          %img{height: "12", src: "http://geoclientes.com/images/chile.jpg", width: "16"}/
          Chile
        %li.first
          %a{href: "#"}
            %img{height: "12", src: "http://geoclientes.com/images/mexico.jpg", width: "16"}/
            Mexico
        %li
          %a{href: "#"}
            %img{height: "12", src: "http://geoclientes.com/images/colombia.jpg", width: "16"}/
            Colombia
        %li
          %a{href: "#"}
            %img{height: "12", src: "http://geoclientes.com/images/argentina.jpg", width: "16"}/
            Argentina
        %li
          %a{href: "#"}
            %img{height: "12", src: "http://geoclientes.com/images/peru.jpg", width: "16"}/
            Peru
        %li
          %a{href: "#"}
            %img{height: "12", src: "http://geoclientes.com/images/venezuela.jpg", width: "16"}/
            Venezuela
        %li.last
          %a{href: "#"}
            %img{height: "12", src: "http://geoclientes.com/images/uruguay.jpg", width: "16"}/
            Uruguay
    / =======content================================
    #page1.content
      .container_12
        .grid_12
          .slider_wrapper
            %ul.items
              %li
                %img{alt: "", src: "http://geoclientes.com/images/spacer.gif"}/
                .caption.banner
                  %h2 No le pierdas el rastro a tus clientes con Geo-Clientes.
              %li
                %img{alt: "", src: "http://geoclientes.com/images/spacer.gif"}/
                .caption.banner
                  %h2 No le pierdas el rastro a tus clientes con Geo-Clientes.
              %li
                %img{alt: "", src: "http://geoclientes.com/images/spacer.gif"}/
                .caption.banner
                  %h2 No le pierdas el rastro a tus clientes con Geo-Clientes.
              %li
                %img{alt: "", src: "http://geoclientes.com/images/spacer.gif"}/
                .caption.banner
                  %h2 Geo-Clientes sigue innovando para nuestros clientes.
          .socials
            %a{href: "#"}
            %a{href: "#"}
            %a{href: "#"}
            %a{href: "#"}
    #page2.content
      .container_12
        .grid_12
          .slogan
            %h3 ¿Por qué elegir Geoclientes?
            .text1
              %a
                Geo-clientes permite que cualquier empresa o persona natural en chile o en América latina se pueda registrar y pueda crear una base de datos de sus clientes y vendedores.
                %br/
                %br/
                Luego, una vez en terreno, el equipo de ventas registra su ubicación  en su usuario indicando su dirección de su cliente, sobre esta ubicación referente se podrá obtener información relevante como por ejemplo: número de visitas, ventas, reuniones, llamados, cotizaciones.
                %br/
                %br/
                En esta plataforma intercambiaran información entre el equipo de ventas que estén realizando sus funciones en terreno, con el objetivo que el jefe de ventas o el supervisor pueda gestionar en línea las actividades de su equipo en la atención a sus clientes.
        .grid_3
          .box.maxheight
            %span.box.maxheight1
              %img{alt: "", src: "http://geoclientes.com/images/box1_img10.png"}/
            .text1
              %a{href: "#"}
            %div
              %a
        .grid_3
          .box.maxheight
            %span.box.maxheight1
              %img{alt: "", src: "http://geoclientes.com/images/box1_img5.png"}/
            .text1
              %a{href: "#"}
            %div
              %a
        .grid_3
          .box.maxheight
            %span.box.maxheight1
              %img{alt: "", src: "http://geoclientes.com/images/box1_img3.png"}/
            .text1
              %a{href: "#"}
            %div
              %a
        .grid_3
          .box.maxheight
            %span.box.maxheight1
              %img{alt: "", src: "http://geoclientes.com/images/box1_img10.png"}/
            .text1
              %a{href: "#"}
            %div
              %a
    #page3.content
      .container_12
        .grid_12
          .slogan
            %h3 Nuestros Modulos
            .text1
        .grid_3
          .box.maxheight1
            %img{alt: "", height: "120", src: "http://geoclientes.com/images/box1_img10.png", width: "120"}/
            .text1
              %a{href: "#"} Modulo de seguimiento
            Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a, commodo luctus libero.
        .grid_3
          .box.maxheight1
            %img{alt: "", height: "120", src: "http://geoclientes.com/images/box1_img5.png", width: "120"}/
            .text1
              %a{href: "#"} Modulo de agendamiento
            Ite auctor non pellentesque vel, aliquet sit amet erat. Nullam eget dignissim nisi, aliquam feugiat.
        .grid_3
          .box.maxheight1
            %img{alt: "", height: "120", src: "http://geoclientes.com/images/box1_img10.png", width: "120"}/
            .text1
              %a{href: "#"} Modulo de control de visitas
            Praesent faucibusamus ater asmagna non nunc tristique rhoncus. Aliquam nib ante, tas id dictum.
        .grid_3
          .box.maxheight1
            %img{alt: "", height: "120", src: "http://geoclientes.com/images/box1_img10.png", width: "120"}/
            .text1
              %a{href: "#"} Modulo de geolocalizacion
            Etiam dui eros na non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a commodo luctus libero.
    #page4.content
      .container_12
        .grid_12
          %h3 Vistas del Sistema
        .companies
          .grid_3
            %div
              %img{alt: "", src: "http://geoclientes.com/images/box1_img10.png"}/
            = succeed "Aliquam" do
              .text1 Company Name
            %br/
            %a{href: "#"} Go to Site
          .grid_3
            %img{alt: "", src: "http://geoclientes.com/images/box1_img10.png"}/
            = succeed "Fusce" do
              .text1 Company Name
            %br/
            %a{href: "#"} Go to Site
          .grid_3
            %img{alt: "", src: "http://geoclientes.com/images/box1_img10.png"}/
            = succeed "Quisque" do
              .text1 Company Name
            %br/
            %a{href: "#"} Go to Site
          .grid_3
            %img{alt: "", src: "http://geoclientes.com/images/box1_img10.png"}/
            = succeed "Courrewerwe" do
              .text1 Company Name
            %br/
            %a{href: "#"} Go to Site
          .clear
          .grid_3
            %img{alt: "", src: "http://geoclientes.com/images/box1_img10.png"}/
            = succeed "Oiliquam" do
              .text1 Company Name
            %br/
            %a{href: "#"} Go to Site
          .grid_3
            %img{alt: "", src: "http://geoclientes.com/images/box1_img10.png"}/
            = succeed "Gusce" do
              .text1 Company Name
            %br/
            %a{href: "#"} Go to Site
          .grid_3
            %img{alt: "", src: "http://geoclientes.com/images/box1_img10.png"}/
            = succeed "Niuisque" do
              .text1 Company Name
            %br/
            %a{href: "#"} Go to Site
          .grid_3
            %img{alt: "", src: "http://geoclientes.com/images/box1_img10.png"}/
            = succeed "Fouerourrewerwe" do
              .text1 Company Name
            %br/
            %a{href: "#"} Go to Site
    #page5.content
      .container_12
        .grid_12
          .slogan
            %h3 Nuestros Planes
            .text1
              Gyrto ivamus at magna non nunc tristique rhoncusu. Lliquam nibh ante, egestas id dictum a, commodo luctus mibero. Praesent faucibus malesuada faucibu. Monec laoreet metus id laoreet malesuadw.
    / ==============================footer=================================
    %footer
      .container_12
        .grid_12
          .copy
            %a{href: "#", onclick: "goToByScroll('page1'); return false;"}
              %img{alt: "", src: "http://geoclientes.com/images/footer_logo.png"}/
            © 2013 |
            %a{href: "#"} Privacy Policy
            %br/
        .clear
    %script{src: "jquery.js", type: "text/javascript"}
    %script{src: "main.js", type: "text/javascript"}
