=form_for(@event) do |f|
  = hidden_field_tag(:contact_id,c.id)
  = hidden_field_tag(:user_id,current_user.id)
  = f.label :event_type, "Tipo de evento"
  = f.select(:event_type, [["Reunion","Reunion"],["Llamada","Llamada"],["Venta","Venta"]])
  %br
  = f.label :date, "Fecha"
  = f.datetime_select(:date)
  %br
  %br
  =f.submit "Agendar Evento", class: "btn btn-large btn-primary" 
