.col-md-5
  .customer-name=@customer.name
  .customer-address=@customer.address
  Contactos
  =link_to("Crear nuevo contacto",url_for(new_contact_path))
  -@customer.contacts.each do |c|
    =c.name
    %button.event-toggle
      Crear evento
    .event-form
      =form_tag("/events", method: "post") do
        = hidden_field_tag(:contact_id,c.id)
        = hidden_field_tag(:user_id,current_user.id)
        = submit_tag("Agendar evento")

.col-md-5#map-canvas{:style => "width:800px;height:400px;margin:0px;padding:0px;margin-top:50px;"}
  %nbsp
.row
:javascript
  function initialize() {
    var location = new google.maps.LatLng(#{@customer.latitude},#{@customer.longitude})
    var mapOptions = {
      zoom: 14,
      center: location
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  var marker = new google.maps.Marker({
    position: location,
    title: "#{@customer.name}",
    map: map
  });
  }
  google.maps.event.addDomListener(window, 'load', initialize);
