<!DOCTYPE html>
<html>
<head>
  <title>Geoclientes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<style type="text/css">
	body {
	background-image: url(images/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}
    </style>
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYh-S5idDK9dpU2I4JvsmD8b8z62pxcVk&sensor=false">
  </script>
</head>
<body>
  <%= render "menu" %>

<%= yield %>

</body>
</html>
